//Navigation bar style
.secobse-logo {
    font: {
        weight: bold;
        size: 2.5em
    }
    color: #5fb960 !important;
}

.nav-title {
    font: {
        size: 1em;
    }
}

.navbar-collapse {
    ul {
        .dropdown-toggle {
            position: relative;
            padding-left: 3.4375em;
            font-weight: bold;
            img {
                position: absolute;
                top: 0.8em;
                left: 0.625em;
                width: 2em;
                height: 2em;
            }
        }
    }
}