// article index page
@mixin article_contentshadow {
  -moz-box-shadow:0px 0px 0px white;
  -webkit-box-shadow:0px 0px 0px white;
  -ms-box-shadow:0px 0px 0px white;
  -o-box-shadow:0px 0px 0px white;
}

@mixin article_contenttransition {
  -webkit-transition:0.8s;
  -ms-transition:0.8s;
  -o-transition:0.8s;
  -moz-transition:0.8s;
}

@mixin article_contentshadow_hover {
  box-shadow: 15px 15px 10px 1px #908686,-15px -5px 40px -10px #908686;
  -webkit-box-shadow: 15px 15px 40px -10px #908686,-15px -5px 40px -10px #908686;
  -ms-box-shadow: 15px 15px 10px 1px #908686,-15px -5px 40px -10px #908686;
  -moz-box-shadow: 15px 15px 10px 1px #908686,-15px -5px 40px -10px #908686;
}

@mixin rank_article_scale {
  transform: scale(2,0);
  -webkit-transform:scale(2,0);
  -o-transform:scale(2,0);
  -ms-transform:scale(2,0);
  -moz-transform:scale(2,0);
}
.list-group-item {
  //second color
  padding: 20px 15px;
  @include article_contentshadow;
  @include article_contenttransition;
  &:hover {
    //second color
    @include article_contentshadow_hover;
  }
}

// modified love and unlove height
.pull-right {
  margin-top: -1px;
}
.pull-right_create{
  float:right;
  @media screen and(max-width:400px){
  float:left;
  }
}
.label-info{
  margin-top: 0px;
  margin-bottom: 12px;
  @media screen and(max-width: 435px){
    margin-top:1px;
  }
  @media screen and(max-width:414px){
    margin-top:-3px;
  }
  @media screen and(max-width: 411px){
    margin-top:-1px;
  }
  @media screen and(max-width:375px){
    margin-top:10px;
  }
  @media screen and(max-width:360px){
  margin-top:10px;
  }
  @media screen and(max-width: 320px){
    margin-top:10px;
  }
}
.navbar-brand{
  float: none;
  position: absolute;
  left:45%;
  @media screen and (max-width:435px){
    position:absolute;
    left:38%;
  }
  @media screen and (max-width:414px){
    position:absolute;
    left:37%;
  }
  @media screen and (max-width:360px){
    position:absolute;
    left:27%;
  }
  @media screen and (max-width:320px){
    position:absolute;
    left:32%;
  }
}

.jumbotron {
    position: relative;
    background: #000 url("/images/jumbotron-bg.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
.panel-default > .panel-heading{
  color: #f9f8f8;
  background-color: #a9a4a4;
}
.panel-body{
  background-color: #b3aaaa;
}
