.scrolltop {
  width: 50px;
  height: 50px;
  display: block;
  background: #888;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: none;
  &:hover {
    color: black;
    background: #6E5DEC;
  }
}

.badge, .next a span {
  margin-left: 2px;
}

.body {
  text-indent: 2em;
}

.art-whole {
  border: 3px solid #b6c1c1;
  box-shadow: 1px 1px 4px #DDDBDB;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 14px;
  border-radius: 25px;
}

.art-top_em {
  font-weight: none;
  font-weight: bold;
  float: right;
}

.art-head {
  clear: both;
}

.art-display {
  border: 1px solid #F0EFEF;
  box-shadow: 1px 1px 4px #DDDBDB;
  background-color: rgba(213, 228, 228, 0.16);
  padding: 8px;
  margin: 8px;
  border-radius: 25px;
}

.art-detail {
  width: 40%;
  border-bottom: 2px solid #CCC7C7;
  margin: 20px auto 10px;
}

.art-bodyline {
  border-bottom: 2px solid #CCC7C7;
  margin: 5px auto 20px;
}
@mixin content-shadow{
  -moz-box-shadow:0px 0px 0px white;
  -webkit-box-shadow:0px 0px 0px white;
  -ms-box-shadow:0px 0px 0px white;
  -o-box-shadow:0px 0px 0px white;
}
@mixin content-transition{
  -webkit-transition:0.8s;
  -ms-transition:0.8s;
  -o-transition:0.8s;
  -moz-transition:0.8s;
}
@mixin content_hovershadow{
  box-shadow: 15px 15px 10px 1px #908686,-15px -5px 40px -10px #908686;
  -webkit-box-shadow: 15px 15px 40px -10px #908686,-15px -5px 40px -10px #908686;
  -ms-box-shadow: 15px 15px 10px 1px #908686,-15px -5px 40px -10px #908686;
  -moz-box-shadow: 15px 15px 10px 1px #908686,-15px -5px 40px -10px #908686;
}
.float-size {
  border-radius: 5px;
  @include content-shadow;
  @include content-transition;
  &:hover {
    @include content_hovershadow;
  }
}

.arttitle a:hover {
  text-decoration: none;
}

.author_name {
    margin:{
    left:10px;
    right:10px;
    }
  color: blue;
  float: left;
}

.publish_al {
  float: left;
}

.author_infor {
  clear: both;
  margin-top: 1%;
}

.back-fixed {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 9999;
}

.wformat-content {
  padding: 10px;
  border:{
    style:solid;
    width:1px;
    color:#D7CECE;
    radius:10px;
  }
}

.pager {
    margin:{
    bottom:2%;
    top:-1%;
  }
}

.arttitle {
  margin:{
    top:0%;
    bottom:2%;
    left:1%;
  }
}

body {
  background-color: #F5F5F5;
}

.navbar {
  height: 56px;
}

.navbar-default {
  background-color: #1C9DC2;
  .navbar-brand {
    color: #F5F5F5;
  }
}

.index_artcontent {
  padding: 0 5% 4% 4%;
  border: {
    width:2px;
    style:solid;
    color:#1c9dc2;
    radius:5px;    
  }
  > a {
    color: black;
    font:{
      weight:550;
      size:1.3em;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.index_artread {
    border-radius:3px;
    display: block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #F5F5F5;
    margin:{
    top:1.5%;
    bottom:-3%;
    }
    background: {
    color:#1c9dc2;
    radius:4px;
    }
    font:{
    weight:700;
    size:14px;
    }
    &:hover {
    text-decoration: none;
    background-color: #0985A9;
    color: #F5F5F5;
  }
}

.index_author_name {
  margin-right: 10px;
  color: #1c9dc2;
  float: left;
}

.index_publish_al {
  float: left;
}
.index_home{
  color:#F5F5F5 !important; 
}
.index_user{
  background-color:#F5F5F5;
  height:56px;    
}