body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//@mixin
@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}


$ordinaryMedia-width: 768px;
$smallMedia-width: 550px;
$x-smallMedia-width: 365px;

@mixin ordinaryMedia {
    @media screen and (max-width: #{$ordinaryMedia-width}) {
        @content;
    }
}

@mixin smallMedia {
    @media screen and (max-width: #{$smallMedia-width}) {
        @content;
    }
}

@mixin x-smallMedia {
    @media screen and (max-width: #{$x-smallMedia-width}) {
        @content;
    }
}

//sidebar content style: ;

.qus-create {
    margin-bottom: 2em;
    border: 1px solid #fbeed5;
    padding: 1em;
    background-color: #fcf8e3;
    color: #8a6d3b;
    text-align: center;
    @include border-radius(1em);
    p {
        font: {
            size: 1em;
            weight: bold;
        }
        a {
            font: {
                size: 1em;
                weight: bold;
            }
        }
    }
}

.recomm {
    display: inline-block;
    .recomm-tit {
        margin-left: 1.75em;
        font-size: 1em;
        color: black;
    }
    ol {
        li {
            padding: 1em;
            img {
                margin-right: 0.5em;
                @include border-radius(50%);
                width: 2em;
                height: 2em;
            }
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: #2ed07a;
                }
            }
        }
    }
}

//scroll to top content style

.scrollToTop{
    position:fixed;
	bottom: 5em;
	right: 5em;
    @include ordinaryMedia {
        bottom: 4em;
        right: 4em;
    }
    @include smallMedia {
        bottom: 3em;
        right: 3em;
    }
    @include x-smallMedia {
        bottom: 2em;
        right: 2em;
    }
    padding:10px;
    width: auto;
    height: auto;
	text-decoration: none;
    background-color: rgba(1, 126, 102, 0.08);
    &:hover {
        text-decoration: none;
    }
}

//footer content style

.footer {
    position: relative;
    bottom: 0;
    padding-bottom: 0;
    // border-top: 1px  solid #ded4d4;
    width: auto;
    height: auto;
    h3 {
        border-bottom: 1px solid #ded4d4;
        padding: 10px 0 10px;
        line-height: 27px;
        text-transform: uppercase;
        font: {
            size: 18px;
            weight: 600;
        }
        color: #888;
    }
    ul {
        margin: {
            left: 0;
            top: 0;
        }
        padding-left: 0;
        list-style-type: none;
        font-size: 13px;
        li {
            a {
                display: block;
                padding: 0 0 5px 0;
                text-decoration: none;
                color: #888;
                &:hover {
                    color: #2ed07a;
                }
            }
        }
    }
}

.footer-bottom {
    position: static;
    bottom: 0;
    padding: {
        top: 10px;
        bottom: 10px;
    }
    p {
        padding-top: 6px;
        text-align: center;
    }
}


// !!note!!: no responsive design
.singleQuestion {

    margin-top: 2px;
    border-bottom: 1px groove #9FA6AD;
    padding: 5px;

    .count {
        display: inline-block;
        vertical-align: top;
        width: 25%;
        div {
            display: inline-block;
            width: 30%;
            // border: 1px solid black;
            text-align: center;
            p {
                font-size: 12px;
            }
        }
    }

    .details {
        display: inline-table;
        vertical-align: top;
        padding: 5px 0 0 5px;
        width: 65%;
        height: 63px;
        // border: 1px solid black;

        .tag-and-create-info {

            .tag {
                margin-left: 2px;
            }

            .create-info {
                float: right;
            }
        }
    }
}
